.calc {
    margin: 10px;
    text-align: center;
    border: solid 1px;
}

input {
    margin: 10px;
}

button {
    margin: 5px;
    background-color: aqua;
    height: 30px;
    width: 30px;
    animation: impulse 1s infinite;
}

@keyframes impulse {
    0% {
      box-shadow: 0 0 0 0 lightblue;
    }
    70% {
      box-shadow: 0 0 0 5px white;
    }
    100% {
      box-shadow: 0 0 0 0 white;
    }
}

#result {
    text-align: center;
    margin: 10px;
    
}